<h1>Contoh Aplikasi Jaringan komputer</h1>
<h2>Membuat Web server menggunakan NodeJS dan Web framework ExpressJS</h2>
<h2>Ini adalah halaman <%= title %> </h2>
<ul>
    <% halaman.forEach(hlm => { %>
      <li>
          <a href="<%= hlm.ke %>"><%= hlm.page %> </a>
      </li>
    <% }) %>
</ul>